.container {
  display: flex;
  flex-direction: row;
  background-color: #f1f7ee;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1.5rem;
  padding-right: 7%;
}

.container button,
.container p {
  color: black;
}

.container button {
  border: none;
  background-color: #f1f7ee;
  font-size: large;
  font-weight: bold;
}
