.partner {
  width: 20%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem 2rem 1rem;
  padding: 1rem;
  border: 1px solid#92aa83;
  border-radius: 10px;
  background-color: white;
}

.title {
  display: flex;
  align-self: center;
  color: black;
  font-size: 28px;
  font-weight: bold;
}

.basicInfo,
.intro {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 18px;
}

.readMore {
  color: #92aa83;
  text-decoration: none;
  padding: 16px 0px;
  align-self: flex-end;
}
