p{
    font-family: Semi Bold;
}
.Ticket{
    height: 35rem;
    background-color: white;
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 67px;
    border-radius:50px 50px 50px 50px;
    display: flex;
    justify-content: space-between;
}
.ticket-img{
    width: 43%;
    background-color: #E0EDC5;
    border-radius:50px 0 0 50px;
}
.ticket-main{
    width: 40%;
}
.ticket-name{
    font-size: 2.5rem;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 89px;
}
.ticket-end{
    width: 12%;
    border-left: 1px dashed #B0BEA9;
    text-align: center;
}
.ticket-detail{
    margin: 0 auto;
    margin-bottom: 14px;
    font-size: 30px;
}
.switchButton{
    margin-top: 2.5rem;
}
.custom-bg-color {
    background-color: #B0BEA9 !important;
    border-color: #B0BEA9!important;
    font-size: 1.5rem!important;
}
.heart{
    font-size: 6rem!important;
    color: red;
}