.searchBlock {
  display: flex;
  padding-top: 1rem;
  background-color: #f1f7ee;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f1f7ee;
  padding: 2rem 0rem;
}
